<div class="service">
<h5>DEPARTMENTS</h5>
<ul>
    <li>Electronics and Communication Engineering(ECE)</li>
    <li>Computer Science Engineering(CSE)</li>
    <li>Civil Engineering(CE)</li>
    <li>CSE-Data Science</li>
</ul>
<h5>ASSOCIATIONS</h5>
<ul>
    <li>IETE</li>
    <li>IEEE</li>
    <li>ISTE</li>
    <li>NSS</li>
</ul>
<h5>ABOUT PLACEMENT CELL</h5>
<ul>
    
    <ul>
        <li>Soft skills Certificate program been offered to our students to develop their listening, speaking, reading and writing skills.</li>
         <li>Students are encourages to take this during their First year of studies with us.</li>
            <li>Regular Seminars are conducted to keep in touch with the recent trends in the Higher education scenario by resource persons from Agesis overseas Education Institute.</li>
            <li>Professors from Foreign Universities and our Alumni who have done Higher Studies and employed in India and Abroad.</li>
            <li>Software courses for Non IT students are also conducted in the following areas :<br>
            JAVA PROGRAMMING, J2EE<br>
            ORACLE <br>
            VISUAL PROGRAMMING <br>
            C & C ++ PROGRAMMING <br>
            INTERNET PROGRAMMING (HTML, XML, ASP, JAVA SCRIPT)</li>
    </ul>
    
    

</ul>
</div>